button {
    text-transform: uppercase;
    color: var(--branco);
    font-weight: bold;
    text-align: center;
    
    background-color: var(--cinza);
    width: 20vw;
    height: 10vh;

    border-radius: 0.3rem;
    border: none;

    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: var(--laranja-claro);
    color: var(--cinza);
    transform: scale(1.02);
}


