main {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

main .row-btns {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.novidades {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.products-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}




